html {
  font-size: 100%;
  box-sizing: border-box;
  height: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/*
h1,
h2,
h3 {
    margin-top: 0;
}

a,
a:visited,
a:active {
    text-decoration: none;
}
*/
body {
  background-color: white;
}
body .wrapper .language-selection {
  margin: 0 2rem;
  width: 100%;
  padding-left: 1rem;
  display: flex;
  gap: 15px;
  flex-direction: row;
  justify-content: flex-end;
}
body .wrapper .language-selection img {
  height: 30px;
}
body .wrapper header {
  margin: 0 2rem;
}
body .wrapper header .header-menu .logo {
  margin: auto;
}
body .wrapper header .header-menu .logo img {
  width: 12rem;
}
body .wrapper header .header-menu .hamburger-menu {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: -moz-max-content;
  width: max-content;
  cursor: pointer;
}
body .wrapper header .header-menu .hamburger-menu::before,
body .wrapper header .header-menu .hamburger-menu::after,
body .wrapper header .header-menu .hamburger-menu input {
  content: "";
  width: 60px;
  height: 8px;
  background-color: #1a759f;
  border-radius: 9999px;
}
body .wrapper header .header-menu .hamburger-menu input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}
body .wrapper header .header-menu nav {
  width: 100%;
}
body .wrapper header .header-menu nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  padding: 0;
}
body .wrapper header .header-menu nav li {
  padding: 1rem;
}
body .wrapper header .header-menu nav a {
  text-decoration: none;
  color: #1a759f;
}
body .wrapper main .photo-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
body .wrapper main .photo-container .img-bg-color {
  background-color: blue;
  border-radius: 5%;
  grid-column: 2/-1;
  grid-row: 1/5;
}
body .wrapper main .photo-container .image {
  border-radius: 5%;
  grid-column: 1/-2;
  grid-row: 2/4;
  align-self: center;
  width: 100%;
}
body .wrapper main .content {
  padding-bottom: 5rem;
}
body .wrapper main summary {
  display: flex;
  align-items: center;
  gap: 10px;
}
body .wrapper main .arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
body .wrapper main .right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
body .wrapper main form {
  display: flex;
  flex-direction: column;
}
body .wrapper main form input {
  margin: 0.5rem;
}
body .wrapper footer {
  margin: 2rem;
  text-align: center;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
body h1 {
  font-weight: 700;
  font-size: 3rem;
}
body .hero-text {
  font-size: 1.75rem;
}
body .browse {
  color: white;
}
body .buttonmore {
  color: #1f2f54;
}
body .summary {
  font-weight: 700;
  font-size: 1rem;
}
body .detail-title {
  font-style: italic;
}
body .price {
  font-weight: 400;
  font-size: 1rem;
  font-style: italic;
}

body .wrapper header .header-menu nav a::after {
  display: flex;
  content: "";
  position: relative;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  transition: 0.2s ease-in-out;
  background-color: #1a759f;
}
body .wrapper header .header-menu nav a:hover:after {
  width: 100%;
}
body button {
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  margin: 1rem;
}
body .content-button {
  margin: 2rem;
}
body .browse {
  background-color: #f25e5e;
  padding: 1.3rem 2rem;
  margin: 2rem;
  border-radius: 20px;
  text-decoration: none;
}
body .buttonmore {
  padding: 1.3rem 2rem;
  border-radius: 20px;
  margin: 2rem;
  border: 1px solid #ebeef3;
  box-shadow: 0 4px 10px rgba(20, 20, 43, 0.04);
  text-decoration: none;
}
body .buttonmore:hover {
  color: white;
  background-color: #030774;
  border-color: #1f2f54;
}
body .form_button {
  background-color: gray;
}
body fieldset {
  padding: 0;
}
body input {
  border: none;
  width: 90%;
}
body .checkb {
  width: auto;
}
body select {
  width: 90%;
  border: none;
  padding-left: 0.5rem;
}

body {
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}
body .wrapper {
  display: flex;
  flex-direction: column;
}
body .wrapper header {
  margin-top: 0;
}
body .wrapper header .header-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
body .wrapper header .header-menu nav {
  display: none;
}
body .wrapper header .header-menu .hamburger-menu:has(input:checked) + nav {
  display: contents;
}
body .wrapper main .content {
  display: flex;
  flex-direction: column-reverse;
}
body .wrapper main .content2 {
  display: flex;
  flex-direction: column;
}
body .wrapper main .photo-container {
  margin: 2rem auto 0 auto;
  max-width: 80%;
}

@media (min-width: 1000px) {
  body {
    max-width: 1338px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 24px;
  }
  body .wrapper {
    display: flex;
    flex-direction: column;
  }
  body .wrapper header {
    padding: 32px 36px;
  }
  body .wrapper header .logo {
    margin: 0;
    padding: 0 40px 0 0;
  }
  body .wrapper header .header-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  body .wrapper header .header-menu .hamburger-menu {
    display: none;
    width: 0;
  }
  body .wrapper header .header-menu nav {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  body .wrapper header .header-menu .hamburger-menu:has(input:checked) + nav {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  body .wrapper header .header-menu nav ul {
    flex-direction: row;
  }
  body .wrapper main {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }
  body .wrapper main .content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 3rem;
  }
  body .wrapper main .content .content-container {
    align-self: center;
  }
  body .wrapper main .content2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 3rem;
  }
  body .wrapper main .content2 .content-container {
    align-self: center;
  }
  body .wrapper main .nopics {
    display: inline;
    margin: auto;
  }
  body .wrapper main .nopics .content-container {
    align-self: center;
  }
}/*# sourceMappingURL=main.css.map */