@use "../0-abstracts/media" as m;

//base MOBILE
body {
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 24px;
    .wrapper {
        display: flex;
        flex-direction: column;
        header {
            margin-top: 0;
            .header-menu {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                nav {
                    display: none;
                }
                .hamburger-menu:has(input:checked) + nav {
                    display: contents;
                }
            }

        }

        main {
            .content {
                display: flex;
                flex-direction: column-reverse;
            }
            .content2 {
                display: flex;
                flex-direction: column;
            }
            .photo-container {
                margin: 2rem auto 0 auto;
                max-width: 80%;
            }
        }
    }
}

//DESKTOP
@include m.for-desktop-up (1000px) {    
    body {
        max-width: 1338px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 24px;
        padding-right: 24px;
        .wrapper {
            display: flex;
            flex-direction: column;
            header {
                padding: 32px 36px;
                .logo {
                    margin: 0;
                    padding: 0 40px 0 0;
                }
                .header-menu {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    .hamburger-menu {
                        display: none;
                        width: 0;
                    }
                    nav {
                        display: flex;
                        flex-direction: column;
                        align-items: stretch;
                    }
                    .hamburger-menu:has(input:checked) + nav {
                        display: flex;
                        flex-direction: column;
                        align-items: stretch;
                    }
                    nav ul{
                        flex-direction: row;
                    }
                }
            }


            main {
                max-width: 1100px;
                margin-left: auto;
                margin-right: auto;
                .content {
                    display: grid;
                    grid-template-columns: 1fr 2fr;
                    gap: 10rem;
                    .content-container {
                        align-self:center;
                    }

                }
                .content2 {
                    display: grid;
                    grid-template-columns: 2fr 1fr;
                    gap: 15px;
                    .content-container {
                        align-self:center;
                    }
                }
                .nopics {
                    display: inline;
                    margin: auto;
                    .content-container {
                        align-self:center;
                    }
                }

            
            }
        }
    }
}
