@use "../0-abstracts/colors" as c;

body {
    button {
        background-color: transparent;
        border: none;
        font-size: 1.2rem;
        margin: 1rem;

        &:hover {
        }

    }
    .browse{
        background-color: #f25e5e;
        padding: 1.3rem 2rem;
        border-radius: 20px;
    }
    .buttonmore{
        padding: 1.3rem 2rem;
        border-radius: 20px;
        border: 1px solid #ebeef3;
        box-shadow: 0 4px 10px rgba(20, 20, 43, .04);
        &:hover {
            color: white;
            background-color: #030774;
            border-color: #1f2f54;
        }

    }

}
