$Vivid-red: #cf2e2e;
$Pink: rgb(220,104,116);
$Pale-pink: #f78da7;
$White: hsl(0, 0%, 100%);
$Cyan-bluish-grey: #abb8c3;
$Bg-Gray: #DDDDDD;
$text-menu: #1a759f;
$img1:#1A5276;
$img2:#1F618D;
$img3:#2471A3;