$Vivid-red: #cf2e2e;
$Pink: rgb(220,104,116);
$Pale-pink: #f78da7;
$White: hsl(0, 0%, 100%);
$Cyan-bluish-grey: #abb8c3;
$Bg-Gray: #DDDDDD;
$text-menu: #1a759f;
$img1:#2471A3;
$img2:#CD5C5C;
$img3:#16A085;