
@use  '../0-abstracts/colors' as c;


body {
    background-color:white;
    .wrapper {
        .language-selection {
            width: 100%;
            padding-left: 1rem;
            padding-right: 4rem;
            display: flex;
            gap: 15px;
            flex-direction: row;
            justify-content:flex-end;
            img{
                height: 30px;
            }
        }
        header {
            margin: 0 2rem;
            .header-menu {
                .logo {
                    margin: auto;
                    img {
                        width: 12rem;
                    }
                }
                .linkedin {
                    margin: auto;
                    img {
                        width: 2.5rem;
                    }
                }
                .hamburger-menu{
                    margin-top: 24px;
                    display: flex;
                    flex-direction: column;
                    gap: 6px;
                    width: max-content;
                    cursor: pointer;
                }
                .hamburger-menu::before,
                .hamburger-menu::after,
                .hamburger-menu input{
                    content:"";
                    width: 60px;
                    height: 8px;
                    background-color: c.$text-menu;
                    border-radius:9999px;
                }
                .hamburger-menu input{
                    appearance: none;
                    padding: 0;
                    margin: 0;
                    outline:none;
                    pointer-events:none;
                }

                nav{
                    width: 100%;
                }
                nav ul{
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    text-align: center;
                    padding: 0;
                }
                nav li {
                    padding: 1rem;
                }
                nav a {
                    text-decoration: none;
                    color:c.$text-menu;
                }

            }
        }
        main {

            .photo-container {
                display: grid;
                grid-template-columns: repeat(8,1fr) ;
                grid-template-rows: repeat(10,1fr);
                .img-bg-color {
                    //background-color: blue;
                    border-radius: 5%;
                    grid-column: 2/-1;
                    grid-row: 1/10;
                }
                .img1{
                    background-color:c.$img1 ;
                }
                .img2{
                    background-color:c.$img2 ;
                }
                .img3{
                    background-color:c.$img3 ;
                }
                .image {
                    border-radius: 5%;
                    grid-column: 1/-2;
                    grid-row: 2/9;
                    align-self: center;
                    width: 100%;
                }

            }
            .div-center{
                margin-left: 5rem;
            }

            summary {
                display: flex;
                align-items: center;
                gap: 10px;
            }
            .arrow {
                border: solid black;
                border-width: 0 3px 3px 0;
                display: inline-block;
                padding: 3px;
            }
            .right {
                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
            }
            form{
                display: flex;
                flex-direction: column;
                input{
                    margin:0.5rem;
                }
            }
            p {
                margin: 2rem 0rem;
            }
            .top6rem{
                margin-top: 6rem;
            }
            table {
            border-collapse: collapse;
            width: 100%;
            }

            td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
            }

        }
    }
    footer {
        margin: 2rem;
        text-align: center;
    }
}

