@use  '../0-abstracts/colors' as c;
$fontDisplay: 'Poppins', sans-serif;

body {
    font-family: $fontDisplay;
    font-weight: 400;
    font-size: 1rem;

    h1 {
        font-weight: 700;
        font-size: 3rem;
        text-align: center;
        margin-bottom: 2rem;
    }
    h2{
        text-align: center;
        font-size: 1.5rem;
    }
    .hero-text {
        font-size: 1.75rem;
    }

    .browse{
        color: white;
    }
    .buttonmore{
        color:#1f2f54;
    }

    .summary{
        font-weight: 700;
        font-size: 1rem;
    }
    .detail-title{
        font-style: italic;
    }
    .price{
        font-weight: 400;
        font-size: 1rem;
        font-style: italic;
    }
    p{
        font-size: 1.2rem;
    }
    li{
        font-size: 1.2rem;
    }
    .ul-top{
        margin-top: 6rem;
        li{
            font-size: 1.3rem;
        }
    }
    .toptemp{
        margin-top: 4rem;
    }
    .toptemp2{
        margin-top: 6rem;
    }
    

}



